.wrapper_container {
    margin: 0 auto 0 auto;
    padding: 0 10px 0 10px;
    max-width: 90%;
}

.header_container {
    width: 100%;
    height: auto;
    margin: 15px 0 15px 0;
}

.navigation_container {
    display: flex;
    justify-content: space-between;
    font-size: 2.5vw;
}

.olufs_text {
    color: white;
    font-size: 10vw;
    text-align: center;
    padding: auto;
    margin: 20% auto auto auto;
    font-family: 'PT Sans Caption', sans-serif;
}

.navigation_element {
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
}


body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hours_image {
    width: 20%;
    max-width: 20%;
    float: right;
    padding-top: 5%;
    position: absolute;
    right: 0;
}

.ice_image {
    width: 40%;
    max-width: 40%;
    padding-left: 0px;
    position: absolute;
    float: left;
    left: 0;
}

.box {
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;

    padding-top: 20%;


}

.box2 {
    float: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: ;
}

h4 {
    font-size: 4vw;
    color: #603813;
    opacity: 0.68;
    margin-top: 20%;
    margin-bottom: 30%;
    text-align: center;
        font-family: 'PT Sans Caption', sans-serif;

    
}
h3 {
    font-size: 5vw;
    color: #603813;
    opacity: 0.68;
    margin-top: 20%;
    margin-bottom: 20%;
    text-align: center;
        font-family: 'PT Sans Caption', sans-serif;

}
.footer_image {
    float: right;
    right: 0;
    vertical-align: bottom;
    width: 100%;
    max-width: 100%;
    padding-top: 10%;
    bottom: 0;
    position: relative;
    align-items: flex-end;
    overflow: hidden;
   
}

html,
body {
    margin: 0;
    padding: 0;
   
}

.placeimages {
    align-items: center;
    justify-content:space-around;
    display: flex;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 4vw;
    margin-right: 4vw;
    flex-wrap: wrap;
    position: relative;
    margin-top: 6vw;
    
    
}

    
